<h1>Welcome to Tic-Tac-Toe!</h1><br>Human = 1<br>Sequential Computer = 2<br>Random Computer = 3<br> Unbeatable Computer = 4<br><br>Please select player X by entering 1-3.

<p></p>

<form action='players' method='post'>
<input type="number" name="p1_input" autofocus='autofocus'>

<p></p>

Select player O by entering 1-3.
<p></p>
<input type="number" name="p2_input">
<p><input type='submit'></p> 

