<center><h2>Please input the length of your board. If you choose 3 by 3 you'll be given the option to play against a computer.</h2>
</head>
<br>

<form action='board_length' method='post'>
	<input type='number' name='board_length'>

<p><input type='submit' value='submit'>

</form>
</center>

