<h1>Welcome to Tic-Tac-Toe!</h1><br>Human = 1<br>Random_Computer = 2<br>Sequential_Computer = 3<br><br>Please select player X by entering 1-3.

<p></p>

<form action='player1' method='post'>
<input type="number" name="p1_input" autofocus='autofocus'>

<p></p>

Select player O by entering 1-3.
<p></p>
<input type="number" name="p2_input">
<p><input type='submit'></p>
