<head class="header"><center>Please select your opponent.<br>
</head>


<p></p>

<form action='players' method='post'>
	<select name= 'opponent'>
		<option value='Human'>Human</option>
		<option value='Sequential'>Sequential</option>
		<option value='Random'>Random</option>
		<option value='Unbeatable'>Unbeatable</option>
	</select>

<p><input type='submit' value='submit'>
</form>
</center>

