<center><h2><%=results%><p></p></h2>

<table class="table">
<% num = -1 %>
<% board_length.to_i.times do %>

    <tr>
      <td>
      <% board_length.to_i.times do 
        num += 1 %>
        <input class="button" type="submit" name='square' value= <%=board.ttt_board[num]%>
        <% if board.ttt_board[num] == 'X' || board.ttt_board[num] == 'O' %>
           style="background-color:lightgreen;border:none;width:29px;height:33px;font-size:18px"
          <% end %> >
      <% end %>
      </td>
    </tr><br>

  <% end %>

</table>

	<p><h2><a href='/' style="color:deeppink">Play Again</a></h2>
</center>