.background{
background-color: lightgreen
}

.font{
font-family: arial
}

.td {
border: 1px solid black;
height: 50px;
width: 50px;
}

.square{
    width:100px;
    height:100px;
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}